@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

.background {
    height: 150vh;
    background: url('images/background.jpg') center/cover no-repeat;
}

.logo p {
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
}

.links ul li {
    list-style: none;
    transition: 0.5s;
}

.links ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

nav {
    height: 50px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links ul {
    display: flex;
    gap: 40px;
}

.links ul li a:hover {
    color: rgb(100, 163, 222);
    font-weight: 300;
    /* transition: 0.5s; */
}

.links ul li:hover {
    scale: 1.1;

}

/* hamburger */
.hamburger i {
    font-size: 30px;
}

.hamburger {
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
}

/* --------- */

.container {
    display: flex;
    flex-direction: column;
    padding: 20vh 40px;
}

.info-p {
    margin-top: 20px;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}

.info-p2 {
    margin: 30px 0;
}


.btn-class {
    position: relative;
    cursor: pointer;
}

.btn-class div {
    background-color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    transition: 0.3s;
}

.btn-class a {
    position: absolute;
    top: 28%;
    margin-left: 10px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-class div:hover {
    width: 113px;
    border-radius: 25px;
}

.hover-link i {
    margin: 0px 20px;
    font-size: x-large;
    font-weight: 700;
}

.phn-no {
    cursor: pointer;
    background-color: rgb(104, 154, 229);
    color: aliceblue;
    width: 150px;
    height: 50px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: 1s;

    position: fixed;
    top: 40%;
    right: -100px;
}

.phn-no:hover {
    width: 160px;
    right: 0px;
}

.mail {
    cursor: pointer;
    background-color: rgb(104, 154, 229);
    color: aliceblue;
    width: 150px;
    height: 50px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: 1s;

    position: fixed;
    top: 48%;
    right: -100px;
}

.mail:hover {
    width: 290px;
    right: 0px;
}

.address {
    cursor: pointer;
    background-color: rgb(104, 154, 229);
    color: aliceblue;
    width: 150px;
    height: 50px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: 1s;

    position: fixed;
    top: 56%;
    right: -100px;
}

.address:hover {
    width: 150px;
    right: 0px;
}


@media (max-width:850px) {
    .links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .container {
        color: white;
    }

    /* for navbar */

    .links-show {
        display: block;
    }

    .expand {
        height: 100vw;
        background-color: aliceblue;
        flex-direction: column;
        align-items: flex-start;
    }

    .links-expand {
        flex-direction: column;
        margin-top: 10px;
    }
}