@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.background {
    height: 150vh;
    background: url('images/background.jpg') center/cover no-repeat;
}

.logo p {
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
}

.links ul li {
    list-style: none;
}

.links ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

nav {
    height: 50px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links ul {
    display: flex;
    gap: 40px;
}

.links ul li a:hover {
    color: rgb(100, 163, 222);
    transition: 0.5s;
}

.links ul li:hover {
    scale: 1.1;
    transition: 0.5s;
}

/* hamburger */
.hamburger i {
    font-size: 30px;
}

.hamburger {
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
}

/* --------- */

.container {
    display: flex;
    flex-direction: column;
    padding: 20vh 40px;
}

.info-p {
    margin-top: 20px;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}

.info-p2 {
    margin: 30px 0;
}

.container button {
    margin-top: 30px;
    font-weight: bold;
    width: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}

.container button:hover {
    color: white;
    background-color: rgb(100, 163, 222);
    transition: 0.5s;
    scale: 1.1;
    box-shadow: 13px 13px 20px rgb(194, 194, 194);
}

@media (max-width:850px) {
    .links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .container {
        color: white;
    }
}